*{
    margin:0px;
    padding:0px;
}

body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
}
body{
/* IE10+ */ 
background-image: -ms-linear-gradient(left, #b4dcff 0%, #FFFFFF 7%, #FFFFFF 37%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 93%, #b4dcff 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #b4dcff 0%, #FFFFFF 7%, #FFFFFF 37%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 93%, #b4dcff 100%);



/* Opera */ 
background-image: -o-linear-gradient(left, #b4dcff 0%, #FFFFFF 7%, #FFFFFF 37%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 93%, #b4dcff 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #b4dcff), color-stop(7, #FFFFFF), color-stop(37, #FFFFFF), color-stop(50, #FFFFFF), color-stop(51, #FFFFFF), color-stop(93, #FFFFFF), color-stop(100, #b4dcff));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #b4dcff 0%, #FFFFFF 7%, #FFFFFF 37%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 93%, #b4dcff 100%);

/* W3C Markup */ 
background-image: linear-gradient(to right, #b4dcff 0%, #FFFFFF 7%, #FFFFFF 37%, #FFFFFF 50%, #FFFFFF 51%, #FFFFFF 93%, #b4dcff 100%);
}
.navbar-inverse {
    /*background-color: #0051b2;
    border: 5px solid #fac249;*/

    border: #fac249;
    border-radius: 25px;
    background-image: -ms-linear-gradient(top, #0051B2 0%, #DB9259 70%, #FAC249 100%);
    background-image: -moz-linear-gradient(top, #0051B2 0%, #DB9259 70%, #FAC249 100%);
    background-image: -o-linear-gradient(top, #0051B2 0%, #DB9259 70%, #FAC249 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0051B2), color-stop(0.7, #DB9259), color-stop(1, #FAC249));
    background-image: -webkit-linear-gradient(top, #0051B2 0%, #DB9259 70%, #FAC249 100%);
    background-image: linear-gradient(to bottom, #0051B2 0%, #fac249 70%, #FAC249 100%);
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
}
.navbar-inverse .navbar-nav > li > a {
    color: #8db5ca;
    /*padding: 1em 1em;*/
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #008B8B;
    background: #fff;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    border-radius: 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #3a9f40;
    background-color: #fcfcfc;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fcfcfc;
     padding: 1em 1em; 
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
    font-weight: bolder;
}

a {
color: #FFFFFF;
text-decoration: none;
}

.img_item
{
    width:80px;
    height:80px;
    float:left;
}

.title{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: fantasy;
    color: #0051b2;
}
.bn{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: fantasy;
    /*color: #0051b2;*/
}
element.style {
}
.well-sm {
padding: 9px;
border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #EBEBEB;
    border: 1px solid #DADADA;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    opacity: 0.9;
}

.social{
margin:10px;
}

.brand{
    font-family: fantasy;
    font-size: 37px;
    color: #0b56ad;
}

/*body{
background-image:url(http://subtlepatterns.com/patterns/restaurant_icons.png);
}*/

.header {
    background-color: rgba(39, 39, 39, 0.8);
    padding: 5px;
    opacity: 1;
    margin-bottom: 10px;
    border-radius: 6px 6px;
}
.list-group-item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid rgba(165, 42, 42, 0.36);
}

.carousel-holder{
    margin-bottom:10px;
    -webkit-box-shadow: -3px 10px 22px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 22px -7px rgba(0,0,0,0.75); 
    box-shadow: -3px 10px 22px -7px rgba(0,0,0,0.75);
}

.carousel-control {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 4%;
font-size: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
filter: alpha(opacity=50);
opacity: 1.1;
}


.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
width: 100% \9;
max-width: 100%;
height: 270px;
    width: 100%;
}

.intro{
    font-size:20px; 
    background-color: rgb(243, 249, 248); 
    border-radius:14px; 
    padding:5px;
}
.home-about{
    border-top: 8px solid #fac249; 
    border-radius:7px;
}
.btn-primary {
    color: #0051b3;
    background-color: #93cfe7;
    border-color: #fac249;
}
.home-mission{
        border-top: 8px solid #fac249;
    background-color: rgb(243, 249, 248);
    border-radius: 7px;
}
.why-us{
    border-left: 5px solid #fac249; 
    border-right: 5px solid #fac249; 
    background-color: rgb(243, 249, 248); 
    border-radius:7px; 
    margin-bottom:5px; 
    padding-top:10px;
}
.our-clients{
    border-bottom: 8px solid #fac249; 
    background-color: rgb(243, 249, 248);
    border-radius:7px; margin-bottom:8px; 
    margin-top:8px; 
    padding:10px;
}
.clients{
    height:70px; 
    /*border:8px solid #ccc;*/ 
    padding:10px; 
    font-size:12px;
    margin-left:0px; 
    font-weight:bold;
    border-radius: 7px;
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #B4DCFF), color-stop(0.5, #F7F9FF), color-stop(1, #FAC249));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);
}
.pd10{
    padding:10px
}

.about-header{
    font-size:30px; 
    background-color:rgb(243, 249, 248); 
    border-radius:14px;
}
.company-service-title{
    font-size:30px; 
    background-color:rgb(243, 249, 248); 
    border-radius:14px;
}
.media i {
    color: #fac249;
    font-size: 50px;
}
p i {
    color: #fac249;
    font-weight: bolder;
}
.service-list{
    border-top: 8px solid #fac249; 
    background-color:rgb(243, 249, 248); 
    border-radius:7px;
}
#contact {
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgb(243, 249, 248);
}

.footer-bottom{   
    background: rgba(1, 123, 116, 0.05);
    padding: 20px;
    border-radius: 7px;
    margin-top: 10px;
}
.footer-bottom ul, .footer-bottom p{
margin-bottom: 0;
}
.footer-bottom .footer-block{
margin-bottom: 30px;
}
.footer-bottom a{
color: #188b87;
}
.footer-bottom .footer-menu a{
text-transform: uppercase;
}
.footer-bottom .social-icon a{
display: block;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
border:1px solid #ddd;
}
@media (max-width: 767px){
    .footer-bottom .footer-menu{
        text-align: center;
    }
    .footer-bottom .social-icon{
        float: none !important;
        text-align: center;
    }
}

.box-widget {
    border: none;
    position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget-user-2 .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bg-yellow {
    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #B4DCFF), color-stop(0.5, #F7F9FF), color-stop(1, #FAC249));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #B4DCFF 0%, #F7F9FF 50%, #FAC249 100%);
}
}
.widget-user-username, .widget-user-desc {
    margin-left: 75px;
}

.widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}
.widget-user-image>img {
    width: 75px;
    height: auto;
    float: left;
    margin-right: 5px;
}
.no-padding {
    padding: 0 !important;
}
